body {
  background: #1976D2;
}
#app {
  box-sizing: border-box;
  margin: 100px auto;
  width: 500px;
  padding-bottom: 2px;
  background: white;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}
.btn{
  background: rgba(00, 100, 200, .3);
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover{
  border: 1px solid white;
  background: rgba(100, 100, 200, .3);
}
#welcome {
  margin-top: 0;
  margin-bottom: 2%;
}
#slogan {
  margin: 0;
  font-size: 1.2em;
}
#header {
  margin-bottom: 2.5%;
  padding-left: 2%;
  text-align: center;
}

#messaging {
  width: 96%;
  margin: 2%;
  border: 1px solid black;
  height: 225px;
}

#msgContainer {
  height: 165px;
  overflow-x: hidden;
  overflow-y: visible;
  display: block;
  width: 100%;
}
#msgContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#msgContainer::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}
#msgContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
#btnVolume {
  font-size: 1em;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}
.msgFeed {
  display: none;
  background-color: white;
  margin: 0;
  overflow: hidden;
}
#msgFeedMain {
  display: block;
}
.msgs {
  position: relative;
}
#msgSpan{
  width: 100%;
}
#msgInput{
  width: 77.7%;
  padding: 12px 20px;
  height: 35px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.message {
  border: 1px solid grey;
  padding: 2%;
}
.message p {
  margin: 0;
}
.ownMessage {
  text-align: right;
}
#msgInput:focus {
    border: 1px solid #555;
}
#btnMsgSend{
  width: 16.5%;
  padding: 8px 0px;
  text-decoration: none;
  margin-left: -4px;
  background: rgba(00, 100, 200, .3);
  outline: none;
  border: 1.5px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
#btnMsgSend:hover:enabled{
  border: 1px solid rgba(00, 100, 200, .3);
  background: gold;
}

/*tab styling*/

.tabs {
  height:20px;
  max-height: 20px;    
  padding: 0 0 0 0;
  overflow: hidden;
  display: block;
  width: 100%;
}
.tab {
  height:20px;
  overflow:hidden;
  float:left;
  margin:0 -15px 0 0;
}


.tabBox {
  
  background: #fff;
  border-radius: 4px;
  border:1px solid #ccc;
  margin: 0 auto;
  box-shadow: 0 0 2px  #fff inset;
  text-align: center;
  padding: 0 25px 0 25px;
  cursor: pointer;

 -webkit-transform: perspective(100px) rotateX(30deg);
 -moz-transform: perspective(100px) rotateX(30deg);
  
}

.tab.active {
  z-index:40;
  position:relative;
  padding: 15px 0px 15px -1px;
}

.tab.active .tabBox{
  background-color: #eee;
  @include background-image(linear-gradient(top, #ccc , #ddd 3%, rgba(#eee, 0.5)  ));
  box-shadow: 0 0 2px 0 #fff inset;
}

#currentUserDiv {
  position: relative;
  top: 0%;
  left: 0%;
  margin-bottom: 2%;
  padding: 2%;
  background: #eee;
  font-size: .7em;
}
#currentUser .btn {
  font-size: .7em;
}
#login {
  position: relative;
  top: 0%;
  left: 0%;
  padding: 2%;
}
#onlineUsersContainer{
  padding-left: 2%;
}
#profile {
  padding: 0 2%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*emoji*/
#btnEmoji {
  height: 35px;
  margin-left: -4px;
  background: rgba(00, 100, 200, .3);
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}
#pickEmoji {
  float: right;
  width:100px;
  height: 100px;
  background: rgba(00, 100, 200, .3);
  border: 1px solid #999;
  cursor: pointer;
}



